<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GuidePage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26247E241C1FCE0600E01259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26247E3D1C1FCE0600E01259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26247E481C1FCE0600E01259</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
